<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="common_header()">
    <a href="/admin/home/" class="logo">
        <span class="logo-mini"><b>S</b>AL</span>
        <span class="logo-lg"><b>Spring</b>AdminLte</span>
    </a>

    <nav class="navbar navbar-static-top">
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img th:src="@{/dist/img/user2-160x160.jpg}" class="user-image" alt="User Image" />
                        <span class="hidden-xs" sec:authentication="name"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="user-header">
                            <img th:src="@{/dist/img/user2-160x160.jpg}" class="img-circle" alt="User Image" />
                            <p sec:authentication="name"></p>
                        </li>
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="#" class="btn btn-default btn-flat">Instead of User</a>
                            </div>
                            <div class="pull-right">
                                <a th:href="@{/logout}" class="btn btn-default btn-flat">ログアウト</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                </li>
            </ul>
        </div>
    </nav>
</div>
</html>