<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="pagination(pages, url)">
    <div th:if="${pages.hasContent()}">
        <ul class="pagination">
            <li th:class="${pages.first} ? 'previous disabled' : ''" style="display:inline">
                <span th:if="${pages.first}">&laquo;</span>
                <a th:if="${not pages.first}" th:href="@{${url}(page=0)}"><span>&laquo;</span></a>
            </li>
            <li th:each="i : ${#numbers.sequence(0, pages.totalPages - 1)}" th:class="(${i} == ${pages.number}) ? 'active' : ''" style="display:inline">
                <span th:if="${i} == ${pages.number}" th:text="${i + 1}">1</span>
                <a th:if="${i} != ${pages.number}" th:href="@{${url}(page=${i})}">
                    <span th:text="${i + 1}">1</span>
                </a>
            </li>
            <li th:class="${pages.last} ? 'disabled' : ''" style="display:inline">
                <span th:if="${pages.last}">&raquo;</span>
                <a th:if="${not pages.last}" th:href="@{${url}(page=(${pages.totalPages} - 1))}">&raquo;</a>
            </li>
        </ul>
    </div>
</div>
