<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="common_sidebar()">
    <section class="sidebar">
        <ul class="sidebar-menu">
            <li class="active treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                </a>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-folder"></i>
                    <span>ユーザ管理</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a th:href="@{/user/}"><i class="fa fa-circle-o"></i> ユーザ一覧</a></li>
                    <li><a th:href="@{/user/create}"><i class="fa fa-circle-o"></i> ユーザ登録</a></li>
                </ul>
            </li>
        </ul>
    </section>
</div>
</html>
