<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout}">
<head>
    <title>ユーザ編集</title>
</head>
<body>
<section layout:fragment="header">
    <h1>ユーザ編集</h1>
    <ol class="breadcrumb">
        <li><a th:href="@{/home/}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">ユーザ編集</li>
    </ol>
</section>

<div layout:fragment="contents">
    <div class="row">
        <div class="col-xs-10 col-md-10">
            <div class="box box-primary">
                <div class="box-header with-border"></div>

                <form th:action="@{'/user/' + ${user.id}}" th:object="${updateForm}" method="post" autocomplete="off">

                    <div class="box-body">
                        <div class="form-group">
                            <input type="text" class="form-control" name="code" placeholder="code" th:value="${user.code}" />
                            <span th:if="${#fields.hasErrors('code')}" th:errors="*{code}" style="color: red"></span>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="login" placeholder="login" th:value="${user.login}" />
                            <span th:if="${#fields.hasErrors('login')}" th:errors="*{login}" style="color: red"></span>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="password" placeholder="password" th:field="*{password}" />
                            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: red"></span>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="mail" placeholder="mail" th:value="${user.mail}" />
                            <span th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}" style="color: red"></span>
                        </div>
                    </div>

                    <div class="box-footer clearfix">
                        <div class="col-xs-4">
                            <button type="submit" class="btn btn-primary btn-block btn-flat">edit</button>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>

</div>
</body>
</html>