<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout}">
<head>
    <title>ユーザ一覧</title>
</head>
<body>
<section layout:fragment="header">
    <h1>ユーザ一覧</h1>
    <ol class="breadcrumb">
        <li><a th:href="@{/home/}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">ユーザ一覧</li>
    </ol>
</section>

<div layout:fragment="contents">
    <form th:action="@{'/user/'}" th:object="${searchForm}" method="get" autocomplete="off">
        <div class="row">
            <div class="col-lg-12 col-xs-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">検索条件</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-lg-6 col-xs-12">
                                <div class="form-group">
                                    <label for="company">企業</label>
                                    <input type="text" class="form-control" name="company" id="company" placeholder="コードまたは名前を入力してください" th:field="*{company}"/>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xs-12">
                                <div class="form-group">
                                    <label for="user">ユーザ</label>
                                    <input type="text" class="form-control" name="user" id="user" placeholder="コードまたは名前を入力してください" th:field="*{user}"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-xs-12">
                                <div class="form-group">
                                    <label for="role">ロール</label>
                                    <input type="text" class="form-control" name="role" id="role" placeholder="ロール名を入力してください" th:field="*{role}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <a th:href="@{/user/}" class="btn btn-default">クリア</a>
                        <!--<button type="button" class="btn btn-default">クリア</button>-->
                        <button type="submit" class="btn btn-primary pull-right">検索</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="row">
        <div class="col-lg-12 col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">検索結果</h3>
                    <div class="box-tools pull-right">
                        <a th:href="@{/user/create}" type="button" class="btn btn-box-tool"><i class="fa fa-plus"></i></a>
                        <br clear="all" />
                    </div>
                </div>
                <div class="box-body no-padding">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>コード</th>
                            <th>企業名</th>
                            <th>氏名</th>
                            <th>ログインID</th>
                            <th>メールアドレス</th>
                            <th>登録日</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user:${users.getContent()}">
                            <td><a th:href="@{'/user/' + ${user.id}}" th:text="${user.code}"></a></td>
                            <td th:text="${user.company.name}"></td>
                            <td th:text="${user.name}"></td>
                            <td th:text="${user.login}"></td>
                            <td th:text="${user.mail}"></td>
                            <td th:text="${#dates.format(user.createdAt, 'Y-m-d')}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="box-footer clearfix">
                    <div th:replace="/fragments/includes/pagination :: pagination(
                        pages = ${users},
                        url   = '/user/')">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>