<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout}">
<head>
    <title>ユーザ詳細</title>
</head>
<body>
<section layout:fragment="header">
    <h1>ユーザ詳細</h1>
    <ol class="breadcrumb">
        <li><a th:href="@{/home/}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">ユーザ詳細</li>
    </ol>
</section>

<div layout:fragment="contents">
    <div class="row">
        <div class="col-xs-10 col-md-10">
            <div class="box box-primary">
                <div class="box-header with-border"></div>

                    <div class="box-body">

                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <th class="table-label">company name</th>
                                <td th:text="${user.company.name}"></td>
                            </tr>
                            <tr>
                                <th class="table-label">code</th>
                                <td th:text="${user.code}"></td>
                            </tr>
                            <tr>
                                <th class="table-label">login</th>
                                <td th:text="${user.login}"></td>
                            </tr>
                            <tr>
                                <th class="table-label">mail</th>
                                <td th:text="${user.mail}"></td>
                            </tr>
                            </tbody>
                        </table>

                    </div>

                    <div class="box-footer clearfix">
                        <div class="col-xs-4">
                            <a th:href="@{'/user/' + ${user.id} + '/edit'}" class="btn btn-primary">編集</a>
                        </div>
                    </div>

            </div>
        </div>
    </div>

</div>
</body>
</html>