<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Spring Boot com AdminLTE 2 | Login</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />

    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" th:href="@{bootstrap/css/bootstrap.min.css}"/>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css"/>
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css"/>
    <!-- Theme style -->
    <link rel="stylesheet" th:href="@{dist/css/AdminLTE.min.css}"/>
    <!-- iCheck -->
    <link rel="stylesheet" th:href="@{plugins/iCheck/square/blue.css}"/>

    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
</head>

<body class="hold-transition login-page">

<div class="login-box">
    <div class="login-logo">
        <b>SpringBoot</b>AdminLTE2
    </div>

    <div class="login-box-body">
        <p class="login-box-msg">Login.</p>

        <div th:if="${param.error}">
            <div class="callout callout-danger">
                <p>invalid login or password.</p>
            </div>
        </div>

        <form th:action="@{/login}" th:object="${indexForm}" method="post">
            <div class="form-group has-feedback">
                <input type="text" class="form-control" name="login" placeholder="login" th:field="*{login}" />
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
                <span th:if="${#fields.hasErrors('login')}" th:errors="*{login}" style="color: red"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" name="password" placeholder="password" th:field="*{password}" />
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: red"></span>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Login</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- jQuery 2.2.0 -->
<script th:src="@{plugins/jQuery/jQuery-2.2.0.min.js}"></script>
<!-- Bootstrap 3.3.6 -->
<script th:src="@{bootstrap/js/bootstrap.min.js}"></script>
<!-- iCheck -->
<script th:src="@{plugins/iCheck/icheck.min.js}"></script>
<script>
  $(function () {
    $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '20%' // optional
    });
  });
</script>
</body>
</html>
